openapi: 3.1.0
info:
  title: Dreamboard API
  description: API for managing board games and game sessions in Dreamboard
  version: 1.0.0
  contact:
    name: Dreamboard Team
servers:
  - url: https://dreamboard.games
    description: Production server
  - url: http://localhost:8080
    description: Development server
security:
  - BearerAuth: []
tags:
  - name: Health
    description: Health check endpoints
  - name: Auth
    description: Authentication and CLI session operations
  - name: Billing
    description: "Billing checkout, subscription management, and entitlements"
  - name: Games
    description: Game management operations
  - name: Projects
    description: Portable project identity operations
  - name: Rulebooks
    description: Rulebook query operations
  - name: Sessions
    description: Game session and lobby management
  - name: UI Bundles
    description: UI bundle fetching and management
  - name: Agent
    description: AI agent operations
  - name: WebSocket
    description: Real-time communication
  - name: Webhooks
    description: Webhook endpoints called by external services
  - name: Development
    description: Development and testing endpoints
  - name: Internal Perf
    description: Internal performance evidence endpoints
  - name: Internal Demo Releases
    description: Internal operator endpoints for observing demo release state
  - name: Demo Games
    description: Bundled catalog demos playable without an account
paths:
  /:
    get:
      summary: Health check endpoint
      description: Returns a simple health check message
      operationId: healthCheck
      security: []
      tags:
        - Health
      responses:
        "200":
          description: Service is healthy
          content:
            text/plain:
              schema:
                type: string
                example: Hello World!
  /api/version:
    get:
      summary: Get backend version metadata
      description: Returns backend revision metadata and the UI SDK version expected by the backend runtime.
      operationId: getApiVersion
      security: []
      tags:
        - Health
      responses:
        "200":
          description: Successfully retrieved backend version metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVersionResponse"
  /api/auth/me:
    get:
      summary: Get the authenticated Dreamboard user identity
      description: "Returns the backend-resolved Dreamboard internal user identity for the\ncurrent bearer token. Provider-specific subjects such as Clerk user IDs\nare exposed only as metadata; clients should use `id` for Dreamboard\nownership and session control.\n"
      operationId: getCurrentAuthUser
      tags:
        - Auth
      responses:
        "200":
          description: Current authenticated user identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentAuthUserResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/auth/token-exchange:
    post:
      summary: Exchange a Clerk OAuth token for a Dreamboard user token
      description: "Accepts a Clerk OAuth access token only as a bootstrap credential and\nreturns a short-lived Dreamboard JWT for the requested audience. The\nresponse never includes a refresh token.\n"
      operationId: exchangeAuthToken
      tags:
        - Auth
      security:
        - ClerkOAuthBootstrap: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy-exemption: credential-bootstrap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenExchangeRequest"
      responses:
        "200":
          description: Exchanged Dreamboard user token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenExchangeResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/InternalServerError"
  /api/auth/jwks:
    get:
      summary: Get Dreamboard user-token public keys
      description: Returns active Dreamboard user-token verification keys.
      operationId: getAuthJwks
      tags:
        - Auth
      security: []
      responses:
        "200":
          description: JSON Web Key Set
  /api/billing/checkout-sessions:
    post:
      summary: Create a Stripe Checkout Session
      description: "Creates a Stripe-hosted subscription checkout session for the current\nauthenticated Dreamboard user. Dreamboard resolves billing ownership\nthrough the internal user id, not through Clerk or Stripe ids.\n"
      operationId: createBillingCheckoutSession
      tags:
        - Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillingCheckoutSessionRequest"
      responses:
        "200":
          description: Checkout session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/billing/portal-sessions:
    post:
      summary: Create a Stripe Customer Portal Session
      description: "Creates a Stripe-hosted billing portal session for the current\nauthenticated Dreamboard user.\n"
      operationId: createBillingPortalSession
      tags:
        - Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBillingPortalSessionRequest"
      responses:
        "200":
          description: Billing portal session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/billing/entitlements:
    get:
      summary: Get current user entitlements
      description: Returns backend-owned entitlement state for the current authenticated user.
      operationId: getCurrentBillingEntitlements
      tags:
        - Billing
      responses:
        "200":
          description: Current billing and entitlement state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CurrentBillingEntitlementsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/projects:
    get:
      summary: "List user's projects"
      description: "Retrieve all projects installed in the authenticated user's active owner scope."
      operationId: listProjects
      security:
        - BearerAuth: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy:
        action: project.read
        resource:
          type: project
          collection: true
      tags:
        - Projects
      responses:
        "200":
          description: Successfully retrieved project list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/game-specs/extract:
    post:
      summary: Extract a structured game spec
      description: Extract a normalized structured game spec from pasted rule text.
      operationId: extractGameSpec
      security:
        - {}
        - BearerAuth: []
      tags:
        - Agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtractGameSpecRequest"
      responses:
        "200":
          description: Structured game spec extracted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtractGameSpecResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "429":
          $ref: "#/components/responses/TooManyRequestsError"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}":
    get:
      summary: Get project by ID
      description: "Retrieve a project installed in the authenticated user's active owner scope."
      operationId: getProject
      security:
        - BearerAuth: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy:
        action: project.read
        resource:
          type: project
          pathParameter: projectId
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      summary: Ensure project
      description: "Ensure a portable project is installed in the authenticated user's active owner scope."
      operationId: ensureProject
      security:
        - BearerAuth: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy:
        action: project.author
        resource:
          type: project
          pathParameter: projectId
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnsureProjectRequest"
      responses:
        "200":
          description: Existing project installation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "201":
          description: Newly installed project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    patch:
      summary: Update project metadata
      description: "Update project slug, name, description, visibility, or metadata in the active owner scope."
      operationId: updateProject
      security:
        - BearerAuth: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy:
        action: project.author
        resource:
          type: project
          pathParameter: projectId
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: Project updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Delete project
      description: Soft delete a project installation in the active owner scope.
      operationId: deleteProject
      security:
        - BearerAuth: []
      x-dreamboard-exposure: public
      x-dreamboard-actors:
        - user
      x-dreamboard-policy:
        action: project.author
        resource:
          type: project
          pathParameter: projectId
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Project deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteProjectResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/slug/{slug}":
    get:
      summary: Get project by slug
      description: "Resolve a portable project installed in the authenticated user's active owner scope by slug."
      operationId: getProjectBySlug
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/GameSlug"
      responses:
        "200":
          description: Project found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/revisions":
    post:
      summary: Create game revision
      description: "Atomically finalize source, rule text, and manifest into one immutable project revision."
      operationId: createGameRevision
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRevisionRequest"
      responses:
        "200":
          description: Existing identical revision returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRevision"
        "201":
          description: Revision created and canonical head advanced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameRevision"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/revisions/{revisionDigest}/sources":
    get:
      summary: Get project revision source files
      description: Retrieve source files and authored metadata for an immutable project revision digest.
      operationId: getProjectRevisionSources
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RevisionDigest"
      responses:
        "200":
          description: Revision source files retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectRevisionSourcesResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/source-blobs/upload-sessions":
    post:
      summary: Create project source blob direct-upload targets
      description: Create a direct-upload session for source blobs referenced by a forthcoming project revision.
      operationId: createProjectSourceBlobUploadSession
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSourceBlobUploadSessionRequest"
      responses:
        "201":
          description: Upload session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceBlobUploadSession"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/revisions/{revisionDigest}/compile":
    post:
      summary: Queue compile for project revision
      description: "Queue an asynchronous compile for one immutable project revision. Poll `/api/jobs/{jobId}` and fetch the final compiled result by ID when the job completes."
      operationId: queueProjectRevisionCompile
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/RevisionDigest"
      responses:
        "202":
          description: Compile job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueueCompiledResultJobResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/compiled-results/latest":
    get:
      summary: Get latest compiled result for a project
      description: Return the most recent compiled result for the project installation in the active owner scope.
      operationId: getLatestProjectCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: successOnly
          in: query
          description: "If true, only return results where success=true and uiStorageKey is present"
          schema:
            type: boolean
            default: false
          required: false
      responses:
        "200":
          description: Latest compiled result found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/compiled-results":
    get:
      summary: List compiled results for a project
      description: "Retrieve compiled results for the project installation in the active owner scope, ordered by creation date descending."
      operationId: listProjectCompiledResults
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Default is 10.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Compiled results retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompiledResultsResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/compiled-results/{compiledResultId}":
    parameters:
      - $ref: "#/components/parameters/ProjectId"
      - name: compiledResultId
        in: path
        required: true
        description: Unique identifier for the compiled result
        schema:
          type: string
          format: uuid
    get:
      summary: Get project compiled result by ID
      description: Fetch a specific compiled result for the project installation in the active owner scope.
      operationId: getProjectCompiledResult
      security:
        - BearerAuth: []
      tags:
        - Projects
      responses:
        "200":
          description: Compiled result found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompiledResult"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/dev-compiles/ensure":
    post:
      summary: Ensure a private project dev compile exists
      description: Reuse or create a session-scoped dev compilation for the provided workspace fingerprint without advancing the canonical authored head.
      operationId: ensureProjectDevCompile
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnsureDevCompileRequest"
      responses:
        "200":
          description: Existing dev compile reused or cache miss reported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnsureDevCompileResponse"
        "202":
          description: Dev compile job accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnsureDevCompileResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/sessions":
    post:
      summary: Create a gameplay session for a project
      description: Create a gameplay session pinned to a compiled result from the project installation in the active owner scope.
      operationId: createProjectSession
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
      responses:
        "201":
          description: Game session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/download":
    get:
      summary: Download authored project source files
      description: Download the authored source files for the current project head as a ZIP archive.
      operationId: downloadProjectSources
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: ZIP archive containing source files
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/sources":
    get:
      summary: Get authored project source files
      description: Retrieve authored source files as JSON for the current project head.
      operationId: getProjectSources
      security:
        - BearerAuth: []
      tags:
        - Projects
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Source files retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GameSourcesResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/jobs/active":
    parameters:
      - $ref: "#/components/parameters/ProjectId"
    get:
      summary: Get active job for a project
      description: "Returns the currently active project job, if any. Jobs older than 15 minutes are considered stale and ignored."
      operationId: getProjectActiveJob
      security:
        - BearerAuth: []
      tags:
        - Projects
        - Jobs
      responses:
        "200":
          description: Active job status (null if no active job)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActiveJobResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/workshop/query:
    get:
      summary: Query rulebook text by title
      description: "Search ranked rulebook candidates for the provided title, try up to the top 3 matches, and return extracted text from the first valid PDF found."
      operationId: queryWorkshopRulebook
      security:
        - BearerAuth: []
      tags:
        - Rulebooks
      parameters:
        - name: title
          in: query
          description: Board game title to search for in the rulebook library.
          required: true
          schema:
            type: string
            minLength: 1
      responses:
        "200":
          description: Extracted rulebook text for the first valid candidate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkshopRuleTextResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/jobs/{jobId}":
    parameters:
      - name: jobId
        in: path
        required: true
        description: Unique identifier for any async job
        schema:
          type: string
          format: uuid
    get:
      summary: Get job details
      description: Fetch the current durable snapshot for a specific async job.
      operationId: getJob
      security:
        - BearerAuth: []
      tags:
        - Jobs
      responses:
        "200":
          description: Job details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/runs:
    post:
      summary: Create a game build run
      description: Create a new game draft build job from a structured game spec.
      operationId: createGameRun
      security:
        - BearerAuth: []
      tags:
        - Agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGameRunRequest"
      responses:
        "202":
          description: Game build run accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateGameRunResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "409":
          $ref: "#/components/responses/ConflictError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/runs/{jobId}/cancel":
    post:
      summary: Cancel a game build run
      description: Request cancellation of an active game draft build job.
      operationId: cancelGameRun
      security:
        - BearerAuth: []
      tags:
        - Agent
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "202":
          description: Game build run cancellation accepted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/sessions/from-reducer-snapshot":
    post:
      summary: Create a project session from a reducer snapshot
      description: "Create an auto-assigned gameplay session from a reducer-native snapshot produced by the CLI scenario harness, resolved through a portable project."
      operationId: createProjectSessionFromReducerSnapshot
      security:
        - BearerAuth: []
      tags:
        - Projects
        - Sessions
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionFromReducerSnapshotRequest"
      responses:
        "200":
          description: Session materialized successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/code/{shortCode}":
    parameters:
      - name: shortCode
        in: path
        required: true
        description: "Memorable short code for the session (e.g., 'swift-falcon-73')"
        schema:
          type: string
    get:
      summary: Get session by short code
      description: Look up and hydrate a session using its memorable short code.
      operationId: getSessionByShortCode
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: playerId
          in: query
          required: false
          schema:
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses:
        "200":
          description: Session found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/snapshot":
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Get a session snapshot
      description: Return the canonical selected-perspective session snapshot for first render or explicit resync.
      operationId: getSessionSnapshot
      security:
        - BearerAuth: []
      tags:
        - Sessions
      parameters:
        - name: playerId
          in: query
          required: false
          schema:
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses:
        "200":
          description: Session snapshot retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/start":
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Start the game
      description: Transition session from lobby to gameplay phase (host only)
      operationId: startGame
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Game started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats":
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Add a seat to the lobby
      description: "Add a new seat to the lobby (host only, up to maxPlayers)"
      operationId: addSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Seat added and resulting lobby returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}":
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    patch:
      summary: Update seat settings
      description: Update seat display name and/or player color. User must be assigned to the seat.
      operationId: updateSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSeatRequest"
      responses:
        "200":
          description: Seat updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      summary: Remove a seat from the lobby
      description: "Remove a seat from the lobby (host only, down to minPlayers)"
      operationId: removeSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Seat removed and resulting lobby returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}/assign":
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Assign a seat to current user
      description: Assign the current authenticated user to a specific seat
      operationId: assignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Seat assigned and resulting lobby returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/seats/{playerId}/unassign":
    parameters:
      - $ref: "#/components/parameters/SessionId"
      - $ref: "#/components/parameters/PlayerId"
    post:
      summary: Unassign a seat
      description: Unassign the current user from a specific seat
      operationId: unassignSeat
      security:
        - BearerAuth: []
      tags:
        - Sessions
      responses:
        "200":
          description: Seat unassigned and resulting lobby returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/projects/{projectId}/ui-bundle":
    get:
      summary: Fetch project UI bundle
      description: Fetch and return the HTML content for the current compiled UI bundle of a project in the active owner scope.
      operationId: getProjectUiBundle
      security:
        - BearerAuth: []
      tags:
        - UI Bundles
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: UI bundle HTML retrieved successfully
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the UI bundle
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/sessions/{sessionId}/ui-bundle":
    get:
      summary: Fetch session UI bundle
      description: Fetch and return the HTML content for the compiled UI bundle pinned to a gameplay session.
      operationId: getSessionUiBundle
      security:
        - BearerAuth: []
      tags:
        - UI Bundles
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: UI bundle HTML retrieved successfully
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the UI bundle
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /api/demo-games:
    get:
      summary: List demo games
      description: List bundled demo games that can be opened without a normal user account.
      operationId: listDemoGames
      security: []
      tags:
        - Demo Games
      responses:
        "200":
          description: Successfully retrieved demo games
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DemoGameSummary"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}":
    parameters:
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema:
          type: string
          example: hex-network-trading
    get:
      summary: Get demo game
      description: Return registration and playability metadata for a bundled demo game.
      operationId: getDemoGame
      security: []
      tags:
        - Demo Games
      responses:
        "200":
          description: Successfully retrieved demo game metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemoGameDetails"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}/thumbnail":
    parameters:
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema:
          type: string
          example: hex-network-trading
    get:
      summary: Get demo game thumbnail
      description: Return the static thumbnail image for an active bundled demo game.
      operationId: getDemoGameThumbnail
      security: []
      tags:
        - Demo Games
      responses:
        "200":
          description: Successfully retrieved demo thumbnail
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo-games/{slug}/sessions":
    parameters:
      - name: slug
        in: path
        required: true
        description: Demo game slug
        schema:
          type: string
          example: hex-network-trading
    post:
      summary: Create demo session
      description: Create a fresh guest-play session for a bundled demo game.
      operationId: createDemoGameSession
      security: []
      tags:
        - Demo Games
      requestBody:
        description: Demo-session creation inputs. Send an empty JSON object to keep randomized demo behavior.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDemoSessionRequest"
      responses:
        "201":
          description: Demo session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemoSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo/sessions/code/{shortCode}":
    parameters:
      - name: shortCode
        in: path
        required: true
        description: Memorable short code for the demo session.
        schema:
          type: string
    get:
      summary: Get demo session by short code
      description: Look up and hydrate a demo session using its memorable short code.
      operationId: getDemoSessionByShortCode
      security: []
      tags:
        - Demo
      parameters:
        - name: playerId
          in: query
          required: false
          schema:
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses:
        "200":
          description: Demo session found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo/sessions/{sessionId}/snapshot":
    parameters:
      - $ref: "#/components/parameters/SessionId"
    get:
      summary: Get a demo session snapshot
      description: Return the canonical selected-perspective demo session snapshot.
      operationId: getDemoSessionSnapshot
      security: []
      tags:
        - Demo
      parameters:
        - name: playerId
          in: query
          required: false
          schema:
            type: string
          description: Optional controlled player to include in the selected-perspective gameplay snapshot.
      responses:
        "200":
          description: Demo session snapshot retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo/sessions/{sessionId}/start":
    parameters:
      - $ref: "#/components/parameters/SessionId"
    post:
      summary: Start the demo game
      description: Transition a demo session from lobby to gameplay phase.
      operationId: startDemoGame
      security: []
      tags:
        - Demo
      responses:
        "200":
          description: Demo game started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionControlSnapshot"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
  "/api/demo/sessions/{sessionId}/ui-bundle":
    get:
      summary: Get the UI bundle pinned to a demo session
      description: Fetch and return the HTML content of the UI bundle pinned to a demo session.
      operationId: getDemoSessionUiBundle
      security: []
      tags:
        - Demo
      parameters:
        - in: path
          name: sessionId
          required: true
          description: Demo session whose pinned source provides the UI bundle.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Session-pinned plugin iframe HTML
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the UI bundle
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      description: Portable project lineage identifier
      schema:
        type: string
        format: uuid
        example: 0197c768-a8b5-7b42-a3b4-51d68c54f921
    GameSlug:
      name: slug
      in: path
      required: true
      description: URL-safe game slug
      schema:
        type: string
        example: my-game
    RevisionDigest:
      name: revisionDigest
      in: path
      required: true
      description: Portable authored revision digest
      schema:
        type: string
        pattern: "^sha256:[a-f0-9]{64}$"
        example: sha256:0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
    SessionId:
      name: sessionId
      in: path
      required: true
      description: Unique identifier for the game session
      schema:
        type: string
        format: uuid
        example: 987e6543-e21b-34d5-b678-542316174000
    PlayerId:
      name: playerId
      in: path
      required: true
      description: "Unique identifier for the player (e.g., 'player-1')"
      schema:
        type: string
        example: player-1
  responses:
    UnauthorizedError:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    BadRequestError:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    TooManyRequestsError:
      description: Too many requests or live connections
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ForbiddenError:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
    ConflictError:
      description: Conflict - version mismatch or resource state conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ProblemDetails"
  schemas:
    ApiVersionResponse:
      type: object
      description: Backend runtime version metadata used by local development hosts.
      required:
        - deploymentId
        - backendRevision
        - uiSdkVersion
      properties:
        deploymentId:
          type: string
          description: Stable logical backend deployment identifier used for local CLI state binding.
        backendRevision:
          type: string
          nullable: true
          description: "Deployed backend application revision or git SHA, when available."
        uiSdkVersion:
          type: string
          nullable: true
          description: UI SDK version expected by the backend runtime.
    CurrentAuthUserResponse:
      type: object
      description: Backend-resolved authenticated Dreamboard user identity.
      properties:
        id:
          type: string
          format: uuid
          description: Dreamboard internal user UUID. Use this for ownership and session control.
        provider:
          type: string
          description: External auth provider that authenticated the user.
        providerSubject:
          type: string
          description: "Provider-specific subject, such as a Clerk user ID."
        ownerScopeId:
          type: string
          format: uuid
          description: Active personal owner scope used for project installation and slug uniqueness.
        email:
          type: string
          nullable: true
          description: Verified email address when provided by the auth provider.
      required:
        - id
        - provider
        - providerSubject
        - ownerScopeId
    ProblemType:
      type: string
      description: Stable machine-readable problem identifier
      enum:
        - urn:dreamboard:problem:action-rejected
        - urn:dreamboard:problem:active-job-conflict
        - urn:dreamboard:problem:authoring-state-base-missing
        - urn:dreamboard:problem:authoring-state-drift
        - urn:dreamboard:problem:forbidden
        - urn:dreamboard:problem:game-slug-conflict
        - urn:dreamboard:problem:internal-error
        - urn:dreamboard:problem:project-deleted
        - urn:dreamboard:problem:project-id-invalid
        - urn:dreamboard:problem:project-not-found
        - urn:dreamboard:problem:project-owner-scope-forbidden
        - urn:dreamboard:problem:project-slug-conflict
        - urn:dreamboard:problem:resource-not-found
        - urn:dreamboard:problem:revision-head-conflict
        - urn:dreamboard:problem:source-revision-base-missing
        - urn:dreamboard:problem:source-revision-drift
        - urn:dreamboard:problem:source-revision-not-found
        - urn:dreamboard:problem:state-conflict
        - urn:dreamboard:problem:too-many-requests
        - urn:dreamboard:problem:unauthorized
        - urn:dreamboard:problem:validation-failed
      x-enum-varnames:
        - ACTION_REJECTED
        - ACTIVE_JOB_CONFLICT
        - AUTHORING_STATE_BASE_MISSING
        - AUTHORING_STATE_DRIFT
        - FORBIDDEN
        - GAME_SLUG_CONFLICT
        - INTERNAL_ERROR
        - PROJECT_DELETED
        - PROJECT_ID_INVALID
        - PROJECT_NOT_FOUND
        - PROJECT_OWNER_SCOPE_FORBIDDEN
        - PROJECT_SLUG_CONFLICT
        - RESOURCE_NOT_FOUND
        - REVISION_HEAD_CONFLICT
        - SOURCE_REVISION_BASE_MISSING
        - SOURCE_REVISION_DRIFT
        - SOURCE_REVISION_NOT_FOUND
        - STATE_CONFLICT
        - TOO_MANY_REQUESTS
        - UNAUTHORIZED
        - VALIDATION_FAILED
    ProblemViolation:
      type: object
      properties:
        field:
          type: string
          description: Optional field or input path associated with the issue
        code:
          type: string
          description: Optional machine-readable issue code
        message:
          type: string
          description: Human-readable issue description
      required:
        - message
    ProblemDetails:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/ProblemType"
        title:
          type: string
          description: Short summary of the problem type
        status:
          type: integer
          description: HTTP status code for this problem
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence
        instance:
          type: string
          description: Request URI or other occurrence identifier
        requestId:
          type: string
          description: Correlation ID for tracing this request across logs and support tooling
        retryable:
          type: boolean
          description: Whether retrying the same request may succeed without changing input
        context:
          type: object
          additionalProperties:
            type: string
          description: Structured context for programmatic handling and richer UX
        violations:
          type: array
          items:
            $ref: "#/components/schemas/ProblemViolation"
          description: Optional structured issues associated with the problem
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the problem response
      required:
        - type
        - title
        - status
        - detail
    TokenExchangeAudience:
      type: string
      description: Short-lived Dreamboard user-token audience requested by the CLI.
      enum:
        - dreamboard-api
        - dreamboard-git
    TokenExchangeRequest:
      type: object
      properties:
        audience:
          $ref: "#/components/schemas/TokenExchangeAudience"
      required:
        - audience
    TokenExchangeResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: Short-lived Dreamboard JWT for the requested audience.
        tokenType:
          type: string
          enum:
            - Bearer
        audience:
          $ref: "#/components/schemas/TokenExchangeAudience"
        expiresIn:
          type: integer
          format: int64
          description: Token lifetime in seconds.
      required:
        - accessToken
        - tokenType
        - audience
        - expiresIn
    CreateBillingCheckoutSessionRequest:
      type: object
      properties:
        planKey:
          type: string
          description: Dreamboard plan key to purchase.
          default: designer
        successUrl:
          type: string
          description: Absolute URL Stripe should redirect to after successful checkout.
        cancelUrl:
          type: string
          description: Absolute URL Stripe should redirect to if checkout is cancelled.
    BillingSessionResponse:
      type: object
      required:
        - id
        - url
      properties:
        id:
          type: string
          description: Stripe-hosted session id.
        url:
          type: string
          description: URL the client should navigate to.
    CreateBillingPortalSessionRequest:
      type: object
      properties:
        returnUrl:
          type: string
          description: Absolute URL Stripe should return to from the billing portal.
    BillingEntitlement:
      type: object
      required:
        - key
        - active
        - source
      properties:
        key:
          type: string
        active:
          type: boolean
        source:
          type: string
        expiresAt:
          type: string
          format: date-time
    CurrentBillingEntitlementsResponse:
      type: object
      required:
        - checkoutEnabled
        - portalEnabled
        - entitlements
      properties:
        checkoutEnabled:
          type: boolean
        portalEnabled:
          type: boolean
        planKey:
          type: string
        subscriptionStatus:
          type: string
        currentPeriodEnd:
          type: string
          format: date-time
        entitlements:
          type: array
          items:
            $ref: "#/components/schemas/BillingEntitlement"
    GameMetadata:
      type: object
      properties:
        minPlayers:
          type: integer
          minimum: 1
          maximum: 20
          nullable: true
          description: Minimum player count
        maxPlayers:
          type: integer
          minimum: 1
          maximum: 20
          nullable: true
          description: Maximum player count
        playTimeMinMinutes:
          type: integer
          minimum: 1
          nullable: true
          description: Minimum estimated play time in minutes
        playTimeMaxMinutes:
          type: integer
          minimum: 1
          nullable: true
          description: Maximum estimated play time in minutes
        difficulty:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true
          description: Complexity rating from 1 (simple) to 5 (complex)
    ProjectHead:
      type: object
      description: Portable exact authored head for a project. Populated after the atomic revision hard cut.
      properties:
        revisionDigest:
          type: string
          pattern: "^sha256:[a-f0-9]{64}$"
          description: Portable digest of the current authored revision
      required:
        - revisionDigest
    Project:
      type: object
      description: "Public project identity resolved within the caller's active owner scope. It never exposes the deployment-local game instance identifier."
      properties:
        projectId:
          type: string
          format: uuid
          description: Portable project lineage identifier
        slug:
          type: string
          description: URL-safe project slug within the active owner scope
        name:
          type: string
          description: Display name of the project
        description:
          type: string
          nullable: true
          description: Optional project description
        metadata:
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
        public:
          type: boolean
          description: Whether the project is publicly visible
          default: false
        thumbnailStorageKey:
          type: string
          description: Artifact object key for the latest project thumbnail
          nullable: true
        verified:
          type: boolean
          description: Whether an agent build has passed Dreamboard workspace verification for this project
          default: false
        verifiedAt:
          type: string
          format: date-time
          nullable: true
          description: When the latest passing agent verification was recorded
        createdAt:
          type: string
          format: date-time
          description: When the project installation was created
        updatedAt:
          type: string
          format: date-time
          description: When the project installation was last updated
        head:
          $ref: "#/components/schemas/ProjectHead"
          nullable: true
      required:
        - projectId
        - slug
        - name
        - public
        - verified
        - createdAt
        - updatedAt
    ExtractGameSpecRequest:
      type: object
      description: Request to extract a structured game spec from rule text.
      properties:
        ruleText:
          type: string
          minLength: 1
          maxLength: 50000
      required:
        - ruleText
    GameSpecPlayers:
      type: object
      description: Supported player count range for a generated game.
      properties:
        min:
          type: integer
          minimum: 1
          maximum: 20
        max:
          type: integer
          minimum: 1
          maximum: 20
      required:
        - min
        - max
    GameSpecComponent:
      type: string
      description: Component family expected in the generated game.
      enum:
        - deck
        - dice
        - board
        - resource
        - token
        - tracker
    GameSpecComponentItem:
      type: object
      description: "A named child entry within a component, such as a card in a deck, a\nregion on a board, a space on a track, or a type in a tile set.\n"
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        notes:
          type: string
          maxLength: 500
      required:
        - name
    GameSpecComponentSpec:
      type: object
      description: "A single component instance in the generated game. Multiple instances of\nthe same `kind` are allowed (e.g. two decks). `name` is a short label and\n`notes` is freeform detail the agent will expand into manifest entries.\n`items` can carry named child entries when the component naturally contains\nthem.\n"
      properties:
        kind:
          $ref: "#/components/schemas/GameSpecComponent"
        name:
          type: string
          minLength: 1
          maxLength: 100
        notes:
          type: string
          maxLength: 500
        items:
          type: array
          maxItems: 100
          items:
            $ref: "#/components/schemas/GameSpecComponentItem"
      required:
        - kind
        - name
    GameSpecForm:
      type: object
      description: Structured game specification submitted by the new-game flow.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        players:
          $ref: "#/components/schemas/GameSpecPlayers"
        components:
          type: array
          items:
            $ref: "#/components/schemas/GameSpecComponentSpec"
          maxItems: 50
        winCondition:
          type: string
          maxLength: 2000
        additionalRules:
          type: string
          minLength: 1
          maxLength: 50000
      required:
        - name
        - players
        - components
        - winCondition
        - additionalRules
    ExtractGameSpecResponse:
      type: object
      description: Structured game spec extracted from rule text.
      properties:
        gameSpec:
          $ref: "#/components/schemas/GameSpecForm"
      required:
        - gameSpec
    EnsureProjectRequest:
      type: object
      description: "Request to ensure a portable project exists in the caller's active owner scope"
      properties:
        slug:
          type: string
          description: URL-safe project slug within the active owner scope
          minLength: 1
          maxLength: 200
        name:
          type: string
          description: Display name of the project
          minLength: 1
          maxLength: 200
        description:
          type: string
          description: Optional project description
          maxLength: 1000
          nullable: true
        updateAlias:
          type: boolean
          description: Rename an existing project installation to the supplied slug and metadata
          default: false
      required:
        - slug
        - name
    DeleteProjectResponse:
      type: object
      properties:
        deleted:
          type: boolean
          description: Confirms the project installation was soft deleted
      required:
        - deleted
    UpdateProjectRequest:
      type: object
      description: "Request to update project metadata in the caller's active owner scope."
      properties:
        slug:
          type: string
          description: URL-safe project slug within the active owner scope
          minLength: 1
          maxLength: 200
          nullable: true
        name:
          type: string
          description: Display name of the project
          minLength: 1
          maxLength: 200
          nullable: true
        description:
          type: string
          description: Optional project description
          maxLength: 1000
          nullable: true
        public:
          type: boolean
          description: Updated visibility setting
          nullable: true
        metadata:
          $ref: "#/components/schemas/GameMetadata"
          nullable: true
    GameRevisionSourceFile:
      type: object
      description: Source file descriptor included in an atomic game revision
      properties:
        path:
          type: string
          minLength: 1
          description: Workspace-relative normalized source path
        contentHash:
          type: string
          pattern: "^[a-f0-9]{64}$"
          description: Bare SHA-256 hash of the file content
        byteSize:
          type: integer
          format: int32
          minimum: 0
          description: UTF-8 byte size of the source file
      required:
        - path
        - contentHash
        - byteSize
    CreateGameRevisionSource:
      type: object
      description: Complete source snapshot for an atomic game revision
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/GameRevisionSourceFile"
      required:
        - files
    PlayersDefinition:
      type: object
      description: Supported player-count metadata for the game
      properties:
        minPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        maxPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
        optimalPlayers:
          type: integer
          format: int32
          minimum: 1
          maximum: 10
      required:
        - minPlayers
        - maxPlayers
    DetachedHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - detached
      required:
        - type
    ZoneHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - zone
        zoneId:
          type: string
      required:
        - type
        - zoneId
    SpaceHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - space
        boardId:
          type: string
        spaceId:
          type: string
      required:
        - type
        - boardId
        - spaceId
    ContainerHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - container
        boardId:
          type: string
        containerId:
          type: string
      required:
        - type
        - boardId
        - containerId
    BoardEdgeRef:
      type: object
      description: Tiled board edge identified by the spaces that border it
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 2
          uniqueItems: true
      required:
        - spaces
    EdgeHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - edge
        boardId:
          type: string
        ref:
          $ref: "#/components/schemas/BoardEdgeRef"
      required:
        - type
        - boardId
        - ref
    BoardVertexRef:
      type: object
      description: Tiled board vertex identified by the spaces that touch it
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 4
          uniqueItems: true
      required:
        - spaces
    VertexHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - vertex
        boardId:
          type: string
        ref:
          $ref: "#/components/schemas/BoardVertexRef"
      required:
        - type
        - boardId
        - ref
    PieceSlotHostRef:
      type: object
      properties:
        kind:
          type: string
          enum:
            - piece
        id:
          type: string
      required:
        - kind
        - id
    DieSlotHostRef:
      type: object
      properties:
        kind:
          type: string
          enum:
            - die
        id:
          type: string
      required:
        - kind
        - id
    SlotHostRef:
      oneOf:
        - $ref: "#/components/schemas/PieceSlotHostRef"
        - $ref: "#/components/schemas/DieSlotHostRef"
      discriminator:
        propertyName: kind
        mapping:
          piece: "#/components/schemas/PieceSlotHostRef"
          die: "#/components/schemas/DieSlotHostRef"
    SlotHomeSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - slot
        host:
          $ref: "#/components/schemas/SlotHostRef"
        slotId:
          type: string
      required:
        - type
        - host
        - slotId
    ComponentHomeSpec:
      oneOf:
        - $ref: "#/components/schemas/DetachedHomeSpec"
        - $ref: "#/components/schemas/ZoneHomeSpec"
        - $ref: "#/components/schemas/SpaceHomeSpec"
        - $ref: "#/components/schemas/ContainerHomeSpec"
        - $ref: "#/components/schemas/EdgeHomeSpec"
        - $ref: "#/components/schemas/VertexHomeSpec"
        - $ref: "#/components/schemas/SlotHomeSpec"
      discriminator:
        propertyName: type
        mapping:
          detached: "#/components/schemas/DetachedHomeSpec"
          zone: "#/components/schemas/ZoneHomeSpec"
          space: "#/components/schemas/SpaceHomeSpec"
          container: "#/components/schemas/ContainerHomeSpec"
          edge: "#/components/schemas/EdgeHomeSpec"
          vertex: "#/components/schemas/VertexHomeSpec"
          slot: "#/components/schemas/SlotHomeSpec"
    PresetCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique local identifier for the authored card set
          minLength: 1
        presetId:
          type: string
          description: Built-in preset card-set selector
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - preset
          description: Type of card set source
        defaultHome:
          $ref: "#/components/schemas/ComponentHomeSpec"
          description: Default initial home for cards materialized from the preset
      required:
        - id
        - presetId
        - name
        - type
        - defaultHome
    JsonValue:
      description: Arbitrary authored JSON value.
      oneOf:
        - type: string
        - type: integer
        - type: number
        - type: boolean
        - type: "null"
        - type: array
          items:
            $ref: "#/components/schemas/JsonValue"
        - type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
    PropertySchema:
      type: object
      properties:
        type:
          type: string
          enum:
            - string
            - integer
            - number
            - boolean
            - zoneId
            - cardId
            - playerId
            - boardId
            - edgeId
            - vertexId
            - spaceId
            - pieceId
            - dieId
            - resourceId
            - array
            - object
            - record
            - enum
          description: The data type of the property.
        description:
          type: string
          description: "Optional description of the property's purpose and usage."
          nullable: true
        optional:
          type: boolean
          description: Whether an object property may be omitted.
          default: false
        nullable:
          type: boolean
          description: Whether the value may be null.
          default: false
        default:
          description: "Optional authored default value for this property. When present, omitted\nseed values materialize to the default and generated TypeScript treats\nthe property as present even if `optional: true` is also set.\n"
          $ref: "#/components/schemas/JsonValue"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
        items:
          $ref: "#/components/schemas/PropertySchema"
          description: "For array types, the schema of the array items. Required if type is 'array'."
          nullable: true
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: "For object types, the schema of the object's properties. Required if type is 'object'."
          nullable: true
        enums:
          type: array
          items:
            type: string
          description: "For enum types, the list of allowed string values. Required if type is 'enum'."
          nullable: true
        values:
          $ref: "#/components/schemas/PropertySchema"
          description: "For record types, the schema of the record's values. Required if type is 'record'."
          nullable: true
      required:
        - type
    ObjectSchema:
      type: object
      properties:
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: "Map of property names to their schemas. Type is always 'object' and all properties are required."
      required:
        - properties
    CardPropertySchemaVariants:
      type: object
      properties:
        shared:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertySchema"
          description: Property schemas present on every card-type variant.
        variants:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ObjectSchema"
          description: Property schema for each card type in this manual card set.
      required:
        - variants
    CardPropertySchema:
      oneOf:
        - $ref: "#/components/schemas/ObjectSchema"
        - $ref: "#/components/schemas/CardPropertySchemaVariants"
    ComponentVisibilitySpec:
      type: object
      description: Default authored visibility for a component instance
      properties:
        faceUp:
          type: boolean
          default: true
        visibleTo:
          type: array
          items:
            type: string
          description: "When omitted, visible to all players"
          nullable: true
    BoardCard:
      type: object
      properties:
        type:
          type: string
          description: "Card type identifier used to generate runtime CardIds. When count > 1, runtime IDs are generated as '{type}-1', '{type}-2', etc."
        name:
          type: string
          description: Display name of the card
        imageUrl:
          type: string
          description: "URL to the card's image"
          nullable: true
        text:
          type: string
          description: Text content on the card
          nullable: true
        count:
          type: integer
          format: int32
          description: Number of copies of this card
          minimum: 1
        cardType:
          type: string
          description: Optional authored card category or subtype identifier
          nullable: true
        home:
          $ref: "#/components/schemas/ComponentHomeSpec"
          description: "Optional per-card authored home override. When omitted, the manual card set defaultHome is used."
          nullable: true
        visibility:
          $ref: "#/components/schemas/ComponentVisibilitySpec"
          description: Default authored visibility for the card inventory
          nullable: true
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Actual property values for this specific card instance. Keys must match the properties defined in the referenced cardSchema.
          x-kotlin-type: kotlinx.serialization.json.JsonElement
      required:
        - type
        - name
        - count
        - properties
    ManualCardSetDefinition:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the card set
          minLength: 1
        name:
          type: string
          description: Display name of the card set
          minLength: 1
        type:
          type: string
          enum:
            - manual
          description: Type of card set source
        cardSchema:
          $ref: "#/components/schemas/CardPropertySchema"
          description: Schema definition for authored card properties in this card set
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
        defaultHome:
          $ref: "#/components/schemas/ComponentHomeSpec"
          description: Default initial home for cards that do not declare a per-card home.
        cards:
          type: array
          items:
            $ref: "#/components/schemas/BoardCard"
          description: List of authored cards in this card set
          minItems: 0
      required:
        - id
        - name
        - type
        - defaultHome
        - cards
        - cardSchema
    CardSetDefinition:
      oneOf:
        - $ref: "#/components/schemas/PresetCardSetDefinition"
        - $ref: "#/components/schemas/ManualCardSetDefinition"
      discriminator:
        propertyName: type
        mapping:
          preset: "#/components/schemas/PresetCardSetDefinition"
          manual: "#/components/schemas/ManualCardSetDefinition"
    TopologyScope:
      type: string
      enum:
        - shared
        - perPlayer
      description: Whether authored topology exists once for the table or once per player
    ZoneVisibility:
      type: string
      enum:
        - ownerOnly
        - public
        - hidden
      description: Default topology visibility for a zone or slot
    ZoneSpec:
      type: object
      description: "Generic authored container that can hold cards, pieces, or dice"
      properties:
        id:
          type: string
          description: Stable zone identifier
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
        name:
          type: string
          description: Display name for the zone
        scope:
          $ref: "#/components/schemas/TopologyScope"
        allowedCardSetIds:
          type: array
          items:
            type: string
          description: Optional card-set restriction for this zone
          nullable: true
        visibility:
          $ref: "#/components/schemas/ZoneVisibility"
          default: public
      required:
        - id
        - name
        - scope
    BoardSpaceSpec:
      type: object
      description: Stable authored board space or slot anchor
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        name:
          type: string
          description: Human-readable space name
          nullable: true
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: "Typed authored fields validated against the board's spaceFieldsSchema"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
    BoardRelationSpec:
      type: object
      description: Named relation between two authored spaces
      properties:
        id:
          type: string
          description: Optional stable relation identifier
          nullable: true
        typeId:
          type: string
          description: "Relation type identifier such as adjacent, covers, blocks, or linked"
        fromSpaceId:
          type: string
        toSpaceId:
          type: string
        directed:
          type: boolean
          default: false
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored relation fields validated against relationFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - typeId
        - fromSpaceId
        - toSpaceId
    BoardHostSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - board
      required:
        - type
    SpaceHostSpec:
      type: object
      properties:
        type:
          type: string
          enum:
            - space
        spaceId:
          type: string
      required:
        - type
        - spaceId
    BoardContainerHostSpec:
      oneOf:
        - $ref: "#/components/schemas/BoardHostSpec"
        - $ref: "#/components/schemas/SpaceHostSpec"
      discriminator:
        propertyName: type
        mapping:
          board: "#/components/schemas/BoardHostSpec"
          space: "#/components/schemas/SpaceHostSpec"
    BoardContainerSpec:
      type: object
      description: Authored board-attached or space-attached container/slot
      properties:
        id:
          type: string
          description: Stable container identifier local to the board
        name:
          type: string
          description: Display name for the container
        host:
          $ref: "#/components/schemas/BoardContainerHostSpec"
        allowedCardSetIds:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored container fields validated against containerFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - name
        - host
    GenericBoardTemplateSpec:
      type: object
      description: Reusable authored board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
        name:
          type: string
        layout:
          type: string
          enum:
            - generic
        typeId:
          type: string
          description: "Optional authored board type identifier such as track, map, tableau, or grid"
          nullable: true
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        relationFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        containerFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/BoardSpaceSpec"
          default: []
        relations:
          type: array
          items:
            $ref: "#/components/schemas/BoardRelationSpec"
          default: []
        containers:
          type: array
          items:
            $ref: "#/components/schemas/BoardContainerSpec"
          default: []
      required:
        - id
        - name
        - layout
    HexOrientation:
      type: string
      enum:
        - pointy-top
        - flat-top
      description: Visual orientation for authored hex coordinates
    HexSpaceSpec:
      type: object
      description: One authored hex space in axial coordinates
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        q:
          type: integer
          format: int32
          description: Axial q coordinate
        r:
          type: integer
          format: int32
          description: Axial r coordinate
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        label:
          type: string
          description: Optional hex-space label for setup or rendering
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: "Typed authored fields validated against the board's spaceFieldsSchema"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - q
        - r
    HexEdgeRef:
      type: object
      description: Hex edge identified by two adjacent hex spaces
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 2
          maxItems: 2
          uniqueItems: true
      required:
        - spaces
    HexEdgeSpec:
      type: object
      description: Authored metadata attached to one derived hex edge
      properties:
        ref:
          $ref: "#/components/schemas/HexEdgeRef"
        typeId:
          type: string
          description: Optional authored edge type identifier
          nullable: true
        label:
          type: string
          description: Optional edge label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored edge fields validated against edgeFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    HexVertexRef:
      type: object
      description: Hex vertex identified by three touching hex spaces
      properties:
        spaces:
          type: array
          items:
            type: string
          minItems: 3
          maxItems: 3
          uniqueItems: true
      required:
        - spaces
    HexVertexSpec:
      type: object
      description: Authored metadata attached to one derived hex vertex
      properties:
        ref:
          $ref: "#/components/schemas/HexVertexRef"
        typeId:
          type: string
          description: Optional authored vertex type identifier
          nullable: true
        label:
          type: string
          description: Optional vertex label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored vertex fields validated against vertexFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    HexBoardTemplateSpec:
      type: object
      description: Reusable authored hex board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
        name:
          type: string
        layout:
          type: string
          enum:
            - hex
        typeId:
          type: string
          description: Optional authored board type identifier
          nullable: true
        orientation:
          $ref: "#/components/schemas/HexOrientation"
          default: pointy-top
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        edgeFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        vertexFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/HexSpaceSpec"
          default: []
        edges:
          type: array
          items:
            $ref: "#/components/schemas/HexEdgeSpec"
          default: []
        vertices:
          type: array
          items:
            $ref: "#/components/schemas/HexVertexSpec"
          default: []
      required:
        - id
        - name
        - layout
    SquareSpaceSpec:
      type: object
      description: One authored square space in row/column coordinates
      properties:
        id:
          type: string
          description: Stable space identifier local to the board
        row:
          type: integer
          format: int32
          description: Zero-based row coordinate
        col:
          type: integer
          format: int32
          description: Zero-based column coordinate
        typeId:
          type: string
          description: Optional authored space type identifier
          nullable: true
        label:
          type: string
          description: Optional square-space label for setup or rendering
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: "Typed authored fields validated against the board's spaceFieldsSchema"
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - id
        - row
        - col
    SquareEdgeSpec:
      type: object
      description: Authored metadata attached to one derived square edge
      properties:
        ref:
          $ref: "#/components/schemas/BoardEdgeRef"
        typeId:
          type: string
          description: Optional authored edge type identifier
          nullable: true
        label:
          type: string
          description: Optional edge label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored edge fields validated against edgeFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    SquareVertexSpec:
      type: object
      description: Authored metadata attached to one derived square vertex
      properties:
        ref:
          $ref: "#/components/schemas/BoardVertexRef"
        typeId:
          type: string
          description: Optional authored vertex type identifier
          nullable: true
        label:
          type: string
          description: Optional vertex label for setup or rendering
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/JsonValue"
          description: Typed authored vertex fields validated against vertexFieldsSchema
          x-kotlin-type: kotlinx.serialization.json.JsonElement
          nullable: true
      required:
        - ref
    SquareBoardTemplateSpec:
      type: object
      description: Reusable authored square board topology template
      properties:
        id:
          type: string
          description: Stable template identifier
          pattern: "^[a-zA-Z][a-zA-Z0-9_-]*$"
        name:
          type: string
        layout:
          type: string
          enum:
            - square
        typeId:
          type: string
          description: Optional authored board type identifier
          nullable: true
        boardFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaceFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        relationFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        containerFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        edgeFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        vertexFieldsSchema:
          $ref: "#/components/schemas/ObjectSchema"
          nullable: true
        spaces:
          type: array
          items:
            $ref: "#/components/schemas/SquareSpaceSpec"
          default: []
        relations:
          type: array
          items:
            $ref: "#/components/schemas/BoardRelationSpec"
          default: []
        containers:
          type: array
          items:
            $ref: "#/components/schemas/BoardContainerSpec"
          default: []
        edges:
          type: array
          items:
            $ref: "#/components/schemas/SquareEdgeSpec"
          default: []
        vertices:
          type: array
          items:
            $ref: "#/components/schemas/SquareVertexSpec"
[...]
